
<main>
  <section class= "container">
    <div class="img">
      <img class='figure' src='.././assets/img/cuy1.png'>
    </div>
   
    <div class='txt'>
        <input  class='txt' placeholder='Email'>
        <input class='txt' type='password' name='password1' id='password1' placeholder='Password'>
        <input class='txt' type='password' name='password2' id='password2' placeholder='Confir Password'>   
    </div>
    <div class="btn-btn">
      <button class='btn'type='button' class='btn'>Register</button> 
      <div class="btn-btn">
        <button class='btn'class='btn'> <a href='login'>Login</a></button>
      </div>
    </div>
        
  </section>
</main>
