
<main>
  <section class="title">
    <h2 >Welcome to Cuy-Note</h2>
  </section>
    <img class="cuy" src="../../../assets/img/cuy3.png">
    <div  class="input">
        <input class="txt" type="text" placeholder =" Email">
    </div>
  <div class="input">
    <input  class="txt" type="Password" placeholder =" Password">
  </div>
  <div class="btn-Login">
    <button class="btn" type="submit">Login</button>
    <img class="gmail" src="../../../assets/img/gmail.png ">
    <button class="btn"class='btn'> <a href='register'class='a-register-signup'>Register</a></button>
  </div>
<!--     <div class="gmail">
        <img id="gmail" src="../../../assets/img/gmail.png ">
    </div> -->
    
    <section class="cuy2">
      <img class="cuy2" src="../../../assets/img/cuy2.png">
    </section>
   
   
  </main>
